<figure class="bg-gray-100 rounded-lg shadow-md space-y-2 py-4 flex items-center mb-6 space-x-6">
  <img class="block mx-auto object-cover h-24 sm:mx-0 sm:flex-shrink-0" src="https://via.placeholder.com/150"
    alt="{{colleague.name}} face">
  <div class="text-left space-y-0.5 sm:grid grid-cols-4 w-full">

    <div class="col-span-3 overflow-x-hidden">
      <p class="text-lg text-black font-semibold">
        {{colleague.name}}
      </p>
      <p class="text-gray-500 font-medium">
        {{colleague.department}} - {{colleague.role}}
      </p>
      <p>
        <a class="" [href]="'mailto:' + colleague.email">{{colleague.email}}</a>
      </p>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="openDialog($event)">Nominate</button>
    </div>
  </div>
</figure>

<ng-template cdkPortal>
  <div>
    <h1>

      hello world from portal
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint animi fuga repellat expedita error velit pariatur
      asperiores, cum voluptate illum repellendus enim sapiente doloribus esse porro placeat. Non, hic nemo.
      Provident perferendis ullam error soluta mollitia id illum! Quae quas voluptatibus unde et. Velit aliquid maxime
      autem odit! Vero officiis amet fugiat ipsam possimus recusandae inventore modi! Debitis, architecto nam?
      Corrupti eligendi assumenda nihil aliquam cumque dolore ipsa error maxime, magni reiciendis fuga quas, excepturi
      corporis repudiandae eius deleniti libero deserunt quibusdam voluptas. Quos sapiente excepturi adipisci quasi
      architecto enim!
      Possimus vero quidem reiciendis placeat, quasi sit illum necessitatibus! Obcaecati rem vitae quasi, culpa sapiente
      adipisci rerum accusamus commodi, a quae recusandae sed? Aut officiis fugit distinctio autem commodi hic?
      Rem commodi eos, dicta tempora quae inventore saepe dolores iste repellendus distinctio illum maiores enim libero
      provident omnis vero rerum repellat ipsa deleniti a. Perspiciatis, unde nam. Ratione, enim deserunt.
      Inventore obcaecati magni dolore odit possimus, rerum deleniti eligendi in fuga modi dolores excepturi molestias?
      Explicabo voluptatibus possimus dolores beatae modi quo blanditiis iste, fugiat sit consequatur nisi sint at.
      Tenetur autem vero inventore quo natus quaerat ratione illo sapiente illum, aperiam officia asperiores numquam
      soluta saepe veritatis repellat architecto nisi maxime magnam, pariatur, est quae cupiditate maiores sunt?
      Accusantium!
      Blanditiis aliquid reprehenderit velit doloremque voluptas dolore beatae, reiciendis iusto incidunt quod ut
      assumenda neque consequuntur illum dolor laboriosam adipisci accusantium pariatur aliquam perspiciatis recusandae.
      Quod molestias consequatur qui eos!</p>
  </div>
</ng-template>